.scrollContainer {
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.cardWrapper {
  width: clamp(460px, 22vw, 320px);
  flex-shrink: 0;
}

.arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  background: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0.7;
}

.arrow:hover {
  opacity: 1;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 16px;
  letter-spacing: 0.5px;

  padding-left: 10px;
}